<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">Sarthak's Blog</a>
                </div>
                <ul class="nav navbar-nav">
<!--<<<<<<< HEAD-->
                <li class="active"><a href="#">Home</a></li>z
                <li class="active"><a href="/result">Result</a> </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
<!--=======-->
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">About Me <span class="caret"></span></a>
<!-->>>>>>> 5976bed2763d8d88eb5f0ebc780da85d8e37071f-->
                    <ul class="dropdown-menu">
                    <li><a href="#">C++</a></li>
                    <li><a href="#">Python</a></li>
                    <li><a href="#">Web Development</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
            </nav>
            <div class="container">
                <form action="result" method="post">
                <div class="form-group">
                    <label for="maths">Maths:</label>
                    <input type="number" class="form-control" placeholder="Enter Maths Marks" name="math_marks">
                </div>
                <div class="form-group">
                    <label for="science">Science(Bio+Phy+Che):</label>
                    <input type="number" class="form-control" placeholder="Enter Science Marks" name="science_marks">
                </div>
                <div class="form-group">
                    <label for="EngHin">English + Hindi:</label>
                    <input type="number" class="form-control" placeholder="Enter English + Hindi Marks" name="EngHin_marks">
                </div>
                <div class="form-group">
                    <label for="computer">Computer:</label>
                    <input type="number" class="form-control" placeholder="Enter Computer Marks" name="Comp_marks">
                </div>
                <div class="form-group">
                    <label for="SSC">SSC:</label>
                    <input type="number" class="form-control" placeholder="Enter SSC marks" name="SSC_marks">
                </div>
                <div class="form-group">
                    <label for="Total">Total of total:</label>
                    <input type="number" class="form-control" placeholder="Enter total of total Marks" name="total_marks">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            </div>
    </body>
</html>